<header class="masthead m-1">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <%= nav_helper "nav-link font-weight-bold text-muted", "div" %>
    </nav>
  </div>
</header>
