<!-- <nav class="navbar navbar-expand-md navbar-light bg-light blog-nav">
  <a class="navbar-brand" href="#">Jason Woo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <%= nav_helper "nav-item nav-link", "li" %>

  </div>

</nav> -->
<header class="masthead m-1">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <%= nav_helper "nav-link font-weight-bold text-muted", "div" %>
    </nav>
  </div>
</header>
