<div class="portfolio_show">
  <div class="card bg-dark">

    <div class="card-body row">
      <div class="col-md-6">
        <div class="img-div">
          <%= image_tag "profile.jpg", alt: "Profile Picture", class: "user "%>
        </div>
      </div>
      <div class="col-md-6 text-left">

        <h1>About Me</h1>
        <p>Just a young idiot trying to code</p>

      </div>
    </div>
  </div>
</div>
