<div class="portfolio_show">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "puppy-and-adult-dog.jpg", alt: "Doggos", class: "img-fluid rounded"%>
    </div>
    <div class="col-md-4 text-left">

      <h1>About Me</h1>
      <p>Just a young idiot trying to code</p>

    </div>
  </div>
</div>
