<div class="portfolio_show">
  <div class="card bg-dark">

    <div class="card-body row">
      <div class="col-md-6">
        <div class="img-div">
          <%= image_tag "profile.jpg", alt: "Profile Picture", class: "user "%>
        </div>
      </div>
      <div class="col-md-6 text-left">

        <h1>About Me</h1>
        <p>Just a young idiot trying to code</p>
        <p>
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#jobHistory"
                  name="button"
                  aria-expanded = "false"
                  aria-controller = "jobHistory">
                Job History
          </button>

          <button class="btn btn-primary mx-2"
                  type="button"
                  data-toggle="collapse"
                  data-target="#education"
                  name="button"
                  aria-expanded = "false"
                  aria-controller = "education">
                Education
          </button>
        </p>

        <p class="">
          <div class="collapse" id="jobHistory">
            <div class="card bg-light">
              <div class="card-body text-dark">
                 Job 1
              </div>
              <div class="card-body text-dark">
                 Job 1
              </div>
              <div class="card-body text-dark">
                 Job 1
              </div>
            </div>
          </div>
        </p>

        <p class="">
          <div class="collapse" id="education">
            <div class="card bg-light">
              <div class="card-body text-dark">
                 School 1
              </div>
              <div class="card-body text-dark">
                 School 1
              </div>
              <div class="card-body text-dark">
                 School 1
              </div>
            </div>
          </div>
        </p>
      </div>


    </div>
  </div>
</div>
