<div class="portfolio_show">
  <div class="card bg-dark">

    <div class="card-body">
      <h1 class="card-title mb-4">Want to get in touch?</h1>
      <div class="row">

        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb" width="300" height="300" frameborder="0" style="border:0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="col-md-6 text-left">
          <h3>E-mail:</h3>
          <p>jasonwoo@gmail.com</p>
          <h3>Phone:</h3>
          <p>(773)895-4068</p>
        </div>
      </div>
    </div>
  </div>
</div>
